In [1]:
print(class('house'))

SyntaxError: invalid syntax (Temp/ipykernel_43768/813860561.py, line 1)

This is set to analyze the tmdb dataset of movies containing 21 columns. First of all i intend to clean the data by removing null values and irrelevant columns to my analysis. I will then use the dataset to answer a few questions like
1. most popular movie
2. production companies with the highest numbers of movies
3. movies with highest budget/funding
4. movies with highest revenue
5. most popular director
6. movies with the highest votes
7. longest and shortest movies
8. oldest movies in this database
0. Find correlation among columns

importing the libraries

In [80]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [81]:
#importing the dataset
df=pd.read_csv('tmdb-movies.csv')

In [82]:
#checking the dataframe
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,137999939.3,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,137999939.3,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,101199955.5,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,183999919.0,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,174799923.1,1.385749e+09

In [83]:
#checking data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

Before we remove the null values in the dataset, we need to make sure that we dont loose to much data so i had to check the columns and drop columns i dont need so they do not affect the data wen i'm dropping null records.

In [84]:
df['keywords'].head()

0    monster|dna|tyrannosaurus rex|velociraptor|island
1     future|chase|post-apocalyptic|dystopia|australia
2    based on novel|revolution|dystopia|sequel|dyst...
3                android|spaceship|jedi|space opera|3d
4                  car race|speed|revenge|suspense|car
Name: keywords, dtype: object

In [85]:
df.drop('keywords',axis=1,inplace=True)

In [86]:
df['tagline'].head()

0                The park is open.
1               What a Lovely Day.
2       One Choice Can Destroy You
3    Every generation has a story.
4              Vengeance Hits Home
Name: tagline, dtype: object

In [87]:
df['tagline'].head()

0                The park is open.
1               What a Lovely Day.
2       One Choice Can Destroy You
3    Every generation has a story.
4              Vengeance Hits Home
Name: tagline, dtype: object

In [88]:
df.drop('tagline',axis=1,inplace=True)

In [89]:
df['homepage'].head()

0                        http://www.jurassicworld.com/
1                          http://www.madmaxmovie.com/
2       http://www.thedivergentseries.movie/#insurgent
3    http://www.starwars.com/films/star-wars-episod...
4                             http://www.furious7.com/
Name: homepage, dtype: object

In [90]:
#dropping irrelevant columns
df.drop('homepage',axis=1,inplace=True)

In [91]:
df=df.dropna(axis=0,how='any')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9771 entries, 0 to 10865
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    9771 non-null   int64
 1   imdb_id               9771 non-null   object
 2   popularity            9771 non-null   float64
 3   budget                9771 non-null   int64
 4   revenue               9771 non-null   int64
 5   original_title        9771 non-null   object
 6   cast                  9771 non-null   object
 7   director              9771 non-null   object
 8   overview              9771 non-null   object
 9   runtime               9771 non-null   int64
 10  genres                9771 non-null   object
 11  production_companies  9771 non-null   object
 12  release_date          9771 non-null   object
 13  vote_count            9771 non-null   int64
 14  vote_average          9771 non-null   float64
 15  release_year          9771 non-null   int64
 16  budget_adj            9771 non-null   float64
 17  revenue_adj           9771 non-null   float64
dtypes: float64(4), int64(6), object(8)
memory usage: 1.4+ MB

In [92]:
#most popular movie base on the popularity column
most_popular=df['popularity'].max()
df[df['popularity']==most_popular]

,id,imdb_id,popularity,budget,revenue,original_title,cast,director,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,137999939.3,1.392446e+09

In [93]:
# production companies with the highest numbers of movies
df['production_companies'].value_counts().head()

Paramount Pictures      156
Universal Pictures      133
Warner Bros.             84
Walt Disney Pictures     75
Columbia Pictures        72
Name: production_companies, dtype: int64

In [94]:
# movies with highest budget/funding
most_funded=df['budget'].max()
df[df['budget']==most_funded]

,id,imdb_id,popularity,budget,revenue,original_title,cast,director,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
2244,46528,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,425000000.0,11087569.0

In [95]:
#movies with highest revenue 
highest_revenue=df['revenue'].max()
df[df['revenue']==highest_revenue]

,id,imdb_id,popularity,budget,revenue,original_title,cast,director,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
1386,19995,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,240886902.9,2.827124e+09

In [96]:
#most popular director
df['director'].value_counts().head(1)

Woody Allen    42
Name: director, dtype: int64

In [97]:
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'director', 'overview', 'runtime', 'genres',
       'production_companies', 'release_date', 'vote_count', 'vote_average',
       'release_year', 'budget_adj', 'revenue_adj'],
      dtype='object')

In [98]:
df['vote_average'].max()

8.7

In [99]:
#movies with the highest votes
df[df['vote_average']==df['vote_average'].max()]

,id,imdb_id,popularity,budget,revenue,original_title,cast,director,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
6911,24970,tt0110758,0.21201,0,0,Pink Floyd: Pulse,David Gilmour|Nick Mason|Richard Wright|Sam Br...,David Mallet,Pulse (stylized as Pâ€¢Uâ€¢Lâ€¢Sâ€¢E) is a Pin...,145,Music,SMV Enterprises|Columbia Music Video|EMI,7/9/2006,23,8.7,2006,0.0,0.0

In [100]:
#longest and shortest movies
#longest
df[df['runtime']==df['runtime'].max()]

,id,imdb_id,popularity,budget,revenue,original_title,cast,director,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
4041,150004,tt0289830,0.469332,0,0,Taken,Dakota Fanning|Matt Frewer|Eric Close|Emily Be...,Breck Eisner|FÃ©lix EnrÃ­quez AlcalÃ¡|John Faw...,"Taken spans five decades and four generations,...",877,Science Fiction,DreamWorks,12/2/2002,38,6.8,2002,0.0,0.0

In [101]:
df = df.drop(df[df.runtime==0].index)

In [102]:
#shortest movies
df[df['runtime']==df['runtime'].min()]

,id,imdb_id,popularity,budget,revenue,original_title,cast,director,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
1112,264170,tt3643208,0.202776,0,0,Batman: Strange Days,Kevin Conroy|Brian George|Tara Strong,Bruce Timm,"Celebrating Batmanâ€™s 75th anniversary, DC En...",3,Action|Animation,DC Comics,4/9/2014,20,7.6,2014,0.0,0.0
2232,55692,tt1791596,0.267950,0,0,Scrat's Continental Crack-Up,Chris Wedge|Simon Pegg,Steve Martino|Mike Thurmeier,You may think you know the history of continen...,3,Animation,Blue Sky Studios,12/25/2010,20,7.1,2010,0.0,0.0
2830,26840,tt0307461,0.254157,0,0,Shrek in the Swamp Karaoke Dance Party,Mike Myers|Eddie Murphy,Vicky Jenson|Andrew Adamson,Shrek and his friends enjoy themselves with so...,3,Animation|Comedy|Music,DreamWorks Animation,1/1/2001,12,5.4,2001,0.0,0.0
3298,140656,tt1315885,0.152615,0,0,MamÃ¡,Victoria Harris|Irma Monroig|Berta Ros,Andy Muschietti,Little Victoria is waken up by her sister Lili...,3,Horror,Toma 78,10/7/2008,11,6.0,2008,0.0,0.0
3891,98857,tt2115386,0.028803,0,0,Scrat's Continental Crack-Up: Part 2,Chris Wedge,Steve Martino|Mike Thurmeier,This short film continues the adventures of th...,3,Animation|Comedy|Adventure,Blue Sky Studios,11/16/2011,11,6.7,2011,0.0,0.0
8706,13930,tt0248808,0.811101,0,0,For the Birds,Ralph Eggleston,Ralph Eggleston,"One by one, a flock of small birds perches on ...",3,Animation|Comedy|Family,Pixar Animation Studios,11/1/2000,247,7.7,2000,0.0,0.0

In [115]:
#SPLITTING THE CAST COLUMN
cast=(df['cast'].str.split('|'))

NameError: name 'List' is not defined

In [112]:
print(type(cast))

<class 'pandas.core.series.Series'>

In [114]:
cast.value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[William Shatner, Leonard Nimoy, DeForest Kelley, James Doohan, George Takei]           5
[Louis C.K.]                                                                            4
[Jim Jefferies]                                                                         3
[Chris Wedge]                                                                           3
[Zac Efron, Vanessa Hudgens, Ashley Tisdale, Lucas Grabeel, Corbin Bleu]                3
                                                                                       ..
[Ray Stevenson, Vincent D'Onofrio, Val Kilmer, Christopher Walken, Linda Cardellini]    1
[Freida Pinto, Riz Ahmed, Roshan Seth, Kalki Koechlin, Anurag Kashyap]                  1
[William Hurt, Paul Giamatti, James Woods, Billy Crudup, Topher Grace]                  1
[Dennis Quaid, Tony Oller, Aimee Teegarden, Stephen Lunsford, Devon Werkheiser]         1
[Harold P. Warren, Tom Neyman, John Reynolds, Diane Mahree, Stephanie Nielson]          1
Name: cast, Length: 9708, dtype: int64

REFERENCE SITES INCLUDE
https://stackoverflow.com/questions/48590268/pandas-get-the-most-frequent-values-of-a-column

https://stackoverflow.com/questions/46327501/dropping-columns-with-n-nans-excluding-specific-columns

https://twitter.com/TomEkpot/status/1531057001530261504 -AID FROM TWITTER

FEEDBACK FOR CORRECTIONS
1. Your code runs with an error.
2. As a data scientist, you'll frequently interact with NumPy arrays, pandas Series, and pandas DataFrames, and you'll leverage   a variety of NumPy and pandas methods to perform your desired computations. Understanding how NumPy and pandas work together   will prove to be very useful.
3. Please define at least a function in order to meet this requirement :wink:. This is important because you avoid repetitive     code, which will make you very efficient. One way to define one is to use it to plot, you can check here for more         information.   Matplotlib - Introduction to Python Plots with Examples | ML+ (https://www.machinelearningplus.com/plots/matplotlib-tutorial-complete-guide-python-plot-examples/)
4.