This is set to analyze the tmdb dataset of movies containing 21 columns. First of all i intend to clean the data by removing null values and irrelevant columns to my analysis. I will then use the dataset to answer a few questions like
1. most popular movie
2. production companies with the highest numbers of movies
3. movies with highest budget/funding
4. movies with highest revenue
5. most popular director
6. movies with the highest votes
7. longest and shortest movies
8. oldest movies in this database
0. Find correlation among columns

importing the libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
#importing the dataset
df=pd.read_csv('tmdb-movies.csv')

In [21]:
#checking the dataframe
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,director,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [4]:
#checking data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

Before we remove the null values in the dataset, we need to make sure that we dont loose to much data so i had to check the columns and drop columns i dont need so they do not affect the data wen i'm dropping null records.

In [11]:
df['keywords'].head()

0    monster|dna|tyrannosaurus rex|velociraptor|island
1     future|chase|post-apocalyptic|dystopia|australia
2    based on novel|revolution|dystopia|sequel|dyst...
3                android|spaceship|jedi|space opera|3d
4                  car race|speed|revenge|suspense|car
Name: keywords, dtype: object

In [17]:
df.drop('keywords',axis=1,inplace=True)

In [13]:
df['tagline'].head()

0    Twenty-two years after the events of Jurassic ...
1    An apocalyptic story set in the furthest reach...
2    Beatrice Prior must confront her inner demons ...
3    Thirty years after defeating the Galactic Empi...
4    Deckard Shaw seeks revenge against Dominic Tor...
Name: overview, dtype: object

In [16]:
df.drop('tagline',axis=1,inplace=True)

In [ ]:
df['homepage'].head()

In [15]:
#dropping irrelevant columns
df.drop('homepage',axis=1,inplace=True)

In [12]:
df['tagline'].head()

0                The park is open.
1               What a Lovely Day.
2       One Choice Can Destroy You
3    Every generation has a story.
4              Vengeance Hits Home
Name: tagline, dtype: object

In [18]:
df=df.dropna(axis=0,how='any')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9771 entries, 0 to 10865
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    9771 non-null   int64
 1   imdb_id               9771 non-null   object
 2   popularity            9771 non-null   float64
 3   budget                9771 non-null   int64
 4   revenue               9771 non-null   int64
 5   original_title        9771 non-null   object
 6   cast                  9771 non-null   object
 7   director              9771 non-null   object
 8   overview              9771 non-null   object
 9   runtime               9771 non-null   int64
 10  genres                9771 non-null   object
 11  production_companies  9771 non-null   object
 12  release_date          9771 non-null   object
 13  vote_count            9771 non-null   int64
 14  vote_average          9771 non-null   float64
 15  release_year          9771 non-null   int64
 16  budget_adj            9771 non-null   float64
 17  revenue_adj           9771 non-null   float64
dtypes: float64(4), int64(6), object(8)
memory usage: 1.4+ MB

In [23]:
#most popular movie base on the popularity column
most_popular=df['popularity'].max()
df[df['popularity']==most_popular]

,id,imdb_id,popularity,budget,revenue,original_title,cast,director,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09

In [26]:
# production companies with the highest numbers of movies
df['production_companies'].value_counts().head()

Paramount Pictures      156
Universal Pictures      133
Warner Bros.             84
Walt Disney Pictures     75
Columbia Pictures        72
Name: production_companies, dtype: int64

In [28]:
# movies with highest budget/funding
most_funded=df['budget'].max()
df[df['budget']==most_funded]

,id,imdb_id,popularity,budget,revenue,original_title,cast,director,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
2244,46528,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/10,74,6.4,2010,425000000.0,11087569.0

In [30]:
#movies with highest revenue 
highest_revenue=df['revenue'].max()
df[df['revenue']==highest_revenue]

,id,imdb_id,popularity,budget,revenue,original_title,cast,director,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
1386,19995,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/09,8458,7.1,2009,2.408869e+08,2.827124e+09